<launch>

    <include file="$(find hw)/launch/buff.launch"/>

    <rosparam file="$(find rm_buff)/config/controllers.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="
          controllers/joint_state_controller
          controllers/buff_controller
          "/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rm_buff)/config/rviz.rviz"/>

</launch>
